<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCliente</servlet-name>
        <servlet-class>com.controlador.ProcesarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoUser</servlet-name>
        <servlet-class>com.controlador.InfoUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarOferta</servlet-name>
        <servlet-class>com.controlador.ProcesarOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Club</servlet-name>
        <servlet-class>com.controlador.Club</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarClub</servlet-name>
        <servlet-class>com.controlador.ProcesarClub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarNotificacion</servlet-name>
        <servlet-class>com.controlador.ProcesarNotificacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCliente</servlet-name>
        <url-pattern>/procesarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoUser</servlet-name>
        <url-pattern>/infoUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarOferta</servlet-name>
        <url-pattern>/procesarOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Club</servlet-name>
        <url-pattern>/club</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarClub</servlet-name>
        <url-pattern>/procesarClub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarNotificacion</servlet-name>
        <url-pattern>/procesarNotificacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
